<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SabNzbdUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SabNzbdUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="sabRootUrl" value="http://xbmc.arasoft.local:8080/"/>
    <add key="sabApiKey" value="e74a6f9095a2e84c757182756f0169bd"/>
  </appSettings>
  <userSettings>
    <SabNzbdUploader.Properties.Settings>
      <setting name="lastCategory" serializeAs="String">
        <value>*</value>
      </setting>
    </SabNzbdUploader.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SabNzbdUploader.Properties.Settings>
      <setting name="sabRootUrl" serializeAs="String">
        <value>http://xbmc.arasoft.local:8080/</value>
      </setting>
      <setting name="sabApiKey" serializeAs="String">
        <value>e74a6f9095a2e84c757182756f0169bd</value>
      </setting>
    </SabNzbdUploader.Properties.Settings>
  </applicationSettings>
</configuration>